$main-btn-bg-color: #263238 ;
$main-text-color: #8F95A5 ;
$main-tittle-color: #000000 ;
$main-tittle-fz: 48px;
$main-tittle-lh: 80px ;
$main-card-bg-color: #F5F5F5;
$main-menu-tittle-color: #263238 ;
$main-card-text-fz: 16px;
$main-card-text-lh: 24px;
$main-page-text-fz: 20px;
$main-page-text-lh: 30px;
$main-min-tittile-fz:30px;
$main-text-style: 'poppins';
$main-link-color: #FFFFFF;

