@media only screen and(max-width:575px){
    .container {
        width: 575px;
        padding: 39px 32px;
    }
    .navbar {
        width: 575px;
    }
    .site-menu {
        transform: translateY(-200px);
        width: 400px;
        top: 10px;
        right: 70px;
        background-color: rgb(223, 221, 221);
    }
    .nav-list {
        margin-top: 30px;
    }
    .nav-item-link {
        font-size: 14px;
    }
    .check:checked~.site-menu {
        transform: translateY(0);
    }
    .nav-list {
        margin-right: 80px;
        width: 400px;
    }
    .bars-gamburg {
        left: 440px;
    }
    .close {
        left: 405px;
        background-color: white;
        width: 40px;
        color: 40px;
    }
    br{
        display: none;
    }
    .section {
        text-align: center;
        margin-top: 30px;
        width: 600px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .section-page1 {
        width: 600px;
        justify-content: center;
        align-items: center;
    }
    .lamp {
        display: none;
    }
    .learning-img {
        width: 424px;
        height: 424px;
    }
    .section-page1-link {
        padding: 24px 101px;
    }
    .card,.card2,.card3,.card4 {
        width: 240px;
        height: 534px;
    }
    .card1-img,.card2-img {
        width: 185px;
        height: 185px;
    }
    .card-tittle-style {
        font-size: 18px;
    }
    .card-text-style {
        font-size: 12px;
        line-height: 18px;
    }
    .card-link {
        padding: 13px 53px;
        font-size: 14px;
        line-height: 21px;
    }
    .card2-hero,.card3-hero {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .card2-btn,.card3-btn {
        position: relative;
        bottom: -50px;
    }
    .card-link-style {
        font-size: 14px;
        line-height: 21px;
        padding: 13px 53px;
    }
    .hero-page2 {
        position: relative;
        margin-left: 20px;
        flex-wrap: wrap;
    }
    .card3 {
        position: relative;
        margin-top: 20px;
        right: 270px;
    }
    .card4 {
        flex-direction: column-reverse;
        position: relative;
        bottom: 545px;
        position: relative;
    }
    .card4-hero {
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        top: -55px;
    }
    .card4-img {
        position: relative;
        top: -160px;
    }
    .hero2 {
        margin-top: -400px;
        flex-direction: column-reverse;
    }
    .hero2-img {
        width: 352px;
        height: 352px;
    }
    .hero2-page1 {
        align-items: center;
        width: 510px;
    }
    .hero2-tittle {
        position: relative;
        top: -420px;
    }
    .hero2-foot {
        width: 480px;
    }
    .hero3 {
        flex-direction: column;
        align-items: center;
    }
    .hero3-box {
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 440px;
        align-items: center;
    }
    .hero3-box:not(:last-child){
        margin-bottom: 60px;
    }
    .hero4 {
        margin-top: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .site-foot-tittle {
        position: relative;
        top: -480px;
        left: 220px;
    }
    .site-footer-photo {
        width: 358px;
        height: 322px;
    }
    .footer-page2 {
        width: 480px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hr {
        margin-top: 204px;
    }
}